* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

:root {
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --db-main-bg: hsl(217, 54%, 11%);
    --db-card-bg: hsl(216, 50%, 16%);
    --db-line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--db-main-bg);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nft-card {
    background-color: var(--db-card-bg);
    width: 320px;
    height: 520px;
    border-radius: 10px;
}

.nft-card-content {
    margin: 20px;
}

.image-container > img {
    width: 280px;
    height: 270px;
    border-radius: 10px;
}

.image-container .overlay {
    position: absolute;
    bottom: calc(50% - 30px);
    width: 280px;
    height: 270px;
    display: none;
    border-radius: 10px;
    opacity: 0.5;
}

.image-container:hover .overlay {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--cyan);
}

.content > h3 {
    color: var(--white);
    margin-top: 15px;
}

.content > h3:hover, .avatar > span:last-child:hover {
    color: var(--cyan);
    cursor: pointer;
}

.content > p {
    color: var(--soft-blue);
    margin-top: 15px;
}

.content > div {
    margin-top: 15px;
}

.quantity-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eth {
    color: var(--cyan);
}

.days {
    color: var(--soft-blue);
}

.avatar {
    margin-top: 15px;
}

hr {
    border: 0.5px solid var(--soft-blue);
    margin-top: 15px;
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar > img {
    width: 40px;
    height: 40px;
    border: 2px solid var(--soft-blue);
    border-radius: 50%;
}

.avatar > span:nth-child(2) {
    margin-left: 10px;
    color: var(--soft-blue);
}

.avatar > span:last-child {
    margin-left: 5px;
    color: var(--white);
}

