* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nft-card {
    background-color: hsl(216, 50%, 16%);
    width: 320px;
    height: 520px;
    border-radius: 10px;
}

.nft-card-content {
    margin: 20px;
}

.image-equilibrium > img {
    width: 280px;
    height: 270px;
    border-radius: 10px;
}

.image-equilibrium .overlay {
    position: absolute;
    bottom: calc(50% - 30px);
    width: 280px;
    height: 270px;
    display: none;
    border-radius: 10px;
    opacity: 0.5;
}

.image-equilibrium:hover .overlay {
    display: block;
    background:hsl(178, 100%, 50%);
}

.image-equilibrium > img:hover {
   color: hsl(178, 100%, 50%);
   cursor: pointer;
}

.content > h3 {
    color: hsl(0, 0%, 100%);
    margin-top: 15px;
}

.content > h3:hover, .avatar > span:last-child:hover {
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

.content > p {
    color: hsl(215, 51%, 70%);
    margin-top: 15px;
}

.content > div {
    margin-top: 15px;
}

.quantity-time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.eth {
    color: hsl(178, 100%, 50%);
}

.days {
    color: hsl(215, 51%, 70%);
}

.avatar {
    margin-top: 15px;
}

hr {
    border: 0.5px solid hsl(215, 51%, 70%);
    margin-top: 15px;
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar > img {
    width: 40px;
    height: 40px;
    border: 2px solid hsl(215, 51%, 70%);
    border-radius: 50%;
}

.avatar > span:nth-child(2) {
    margin-left: 10px;
    color: hsl(215, 51%, 70%);
}

.avatar > span:last-child {
    margin-left: 5px;
    color: hsl(0, 0%, 100%);
}
